.DisplayWrapper{
        display: flex ;
        flex-direction: column;
        width: 100%;
      
}
.headingWrapper{
        width: 100%;
height: 82px;
padding: 0px 40px 0px 32px;
gap: 43px;
border: 0px 0px 1px 0px;
display: flex;
align-items: center;


border-bottom: 1px solid #8585854D
}
.heading{
        display: flex;
align-items: center;
justify-content: center;
text-align: center;

}
.ProjectName{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
}
.dropdown,.processedFiles{
        margin-left: 10px;
}
.directory{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
}
.SearchWrapper{
        height: 56px;
        width: 100%;
padding: 8px 40px 8px 23px;
gap: 22px;
display: flex;
}
.searchBar{
        width: 760px;
height: 40px;
padding: 4px 12px 4px 12px;
gap: 0px;
border-radius: 8px;
border: 0.4px 0px 0px 0px;
display: flex;
align-items: center;
justify-content: space-between;
background: #F9FAF8;
border: 0.4px solid #24242466;
backdrop-filter: blur(10px);


}
.FolderListWrapper{
        display: flex;
        /* flex-direction: column; */
        margin-left: 10px;
        border-right: 1px solid #85858533;
}
.subFolderList,
.fileList,
.FolderListMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 429px;
        margin-left: 10px;
        border-right: 1px solid #85858533;
}
.FolderListRow{
        display: flex;
        align-items: center;
        width:381px;
height:32px;
padding: 4px ;
justify-content: space-between;
border-radius: 4px;
cursor: pointer;
}
.FolderListRow:hover{
        background: #B486FF33;
        border: 2px solid #B486FF
  
}
.fileRow{
display:flex;
}
.fileName{
        margin-left: 10px;
}